# 데이터 불러오기

In [1]:
import pandas as pd
import glob

data0 = pd.DataFrame()
data1 = pd.DataFrame()
data2 = pd.DataFrame()
data3 = pd.DataFrame()
data4 = pd.DataFrame()
data5 = pd.DataFrame()
data6 = pd.DataFrame()
data7 = pd.DataFrame()

# 폴더 내의 모든 txt파일을 불러오는 코드
file_paths0 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/0/*.txt')
file_paths1 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/1/*.txt')
file_paths2 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/2/*.txt')
file_paths3 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/3/*.txt')
file_paths4 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/4/*.txt')
file_paths5 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/5/*.txt')
file_paths6 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/6/*.txt')
file_paths7 = glob.glob('C:/Users/82102/Desktop/Baf_News_Category_Classification/newsData/7/*.txt')

In [2]:
# 각 파일을 순회하며 데이터프레임에 추가
for file_path0 in file_paths0:
    with open(file_path0, 'r', encoding='utf-8') as file0:
        file0_contents = file0.read()
        df0 = pd.DataFrame({'text': [file0_contents]})
        data0 = pd.concat([data0, df0], ignore_index=True)
        
for file_path1 in file_paths1:
    with open(file_path1, 'r', encoding='utf-8') as file1:
        file1_contents = file1.read()
        df1 = pd.DataFrame({'text': [file1_contents]})
        data1 = pd.concat([data1, df1], ignore_index=True)
        
for file_path2 in file_paths2:
    with open(file_path2, 'r', encoding='utf-8') as file2:
        file2_contents = file2.read()
        df2 = pd.DataFrame({'text': [file2_contents]})
        data2 = pd.concat([data2, df2], ignore_index=True)
        
for file_path3 in file_paths3:
    with open(file_path3, 'r', encoding='utf-8') as file3:
        file3_contents = file3.read()
        df3 = pd.DataFrame({'text': [file3_contents]})
        data3 = pd.concat([data3, df3], ignore_index=True)
        
for file_path4 in file_paths4:
    with open(file_path4, 'r', encoding='utf-8') as file4:
        file4_contents = file4.read()
        df4 = pd.DataFrame({'text': [file4_contents]})
        data4 = pd.concat([data4, df4], ignore_index=True)
        
for file_path5 in file_paths5:
    with open(file_path5, 'r', encoding='utf-8') as file5:
        file5_contents = file5.read()
        df5 = pd.DataFrame({'text': [file5_contents]})
        data5 = pd.concat([data5, df5], ignore_index=True)
        
for file_path6 in file_paths6:
    with open(file_path6, 'r', encoding='utf-8') as file6:
        file6_contents = file6.read()
        df6 = pd.DataFrame({'text': [file6_contents]})
        data6 = pd.concat([data6, df6], ignore_index=True)
        
for file_path7 in file_paths7:
    with open(file_path7, 'r', encoding='utf-8') as file7:
        file7_contents = file7.read()
        df7 = pd.DataFrame({'text': [file7_contents]})
        data7 = pd.concat([data7, df7], ignore_index=True)

In [3]:
data0['category']='politics'
data1['category']='economy'
data2['category']='society'
data3['category']='daily/culture'
data4['category']='global'
data5['category']='technology'
data6['category']='entertainment'
data7['category']='sports'

In [4]:
all_data = pd.concat([data0, data1, data2, data3, data4, data5, data6, data7], axis=0)
all_data.reset_index(drop=True, inplace=True)

In [5]:
all_data

                                                   text  category
0     동남아 담당' 北 최희철 부상 베이징 도착…싱가포르행 주목\t최 부상, 행선지·방문...  politics
1     예결위, 추경 막바지 심사 진통…여야 충돌\t(서울=연합뉴스) 김남권 기자 = 국회...  politics
2     외압 논란·항명 사태…산 넘고 물 건넌 권성동 영장 청구\t안미현 검사 외압 폭로 ...  politics
3     친문 홍영표, 문빠에 찍혔다…특검 합의에 문자폭탄 공격\t대표적인 친(親)문재인계인...  politics
4     北, 연일 南비난…韓美정상회담 전 경고성 메시지 발신\t南, 맥스선더·태영호 등 불...  politics
...                                                 ...       ...
1595  단일팀 추진' 대한카누연맹, 데상트코리아와 5년 후원 협약\t[스포티비뉴스=조형애 ...    sports
1596  올림픽 성공 뒷이야기... 서울대, 16일 이희범 평창 조직위원장 초청 특강\t[O...    sports
1597  21일 개막 호치민3쿠션월드컵에 149명 참가 확정\t韓선수 46명 참가…1차 예선...    sports
1598  스포츠안전재단, 대축전에 안전필요성 알려\t[스타뉴스 채준 기자]\n\n\n스포츠안...    sports
1599  조한승 “커피 향 그윽한 30대 바둑 보이겠다”\t[한겨레] 맥심커피배 트로피 시상...    sports

[1600 rows x 2 columns]

# 간단한 전처리 진행
### 한자 제거, 이스케이프 문자 제거, 연속된 공백 하나로만

In [14]:
import re

def remove_hanja_and_special_chars(text):
    # 한자의 유니코드 범위
    hanja_pattern = re.compile(r'[\u4e00-\u9fff]')
    
    # 특수문자 및 이스케이프 문자 제거
    special_char_pattern = re.compile(r'[^\w\s.]')  # 마침표는 제거하지 않음

    # 한자 및 특수문자 제거
    cleaned_text = re.sub(hanja_pattern, '', text)
    cleaned_text = re.sub(special_char_pattern, '', cleaned_text)
    
    # \n과 \t를 띄어쓰기로 대체
    cleaned_text = cleaned_text.replace('\n', ' ').replace('\t', ' ')
    
    # 연속된 공백을 하나로 대체
    cleaned_text = re.sub(r'\s+', ' ', cleaned_text)

    return cleaned_text

# 기자 제거 함수(000 기자)
def remove_reporter_names(text):
    surnames = ['곽', '이', '박', '최', '정', '강', '조', '윤', '장', '송', '임', '오', '한', '신', '전', '황', '고', '문', '심', '권', '남', '양', '서', '변', '김', '홍', '류', '서', '주', '손', '안', '백', '채']
    for surname in surnames:
        text = re.sub(r'\b' + surname + r'[가-힣]{1,2}\s기자\b', ' ', text)
    return text

# 언론사 제거
def remove_stopwords(text):
    with open(r"C:/Users/82102/Desktop/Baf_News_Category_Classification/newsname.txt", encoding='utf-8') as f:
        stopwords = [word.strip() for word in f.readlines()]
    words = text.split()
    filtered_words = [word for word in words if word not in stopwords]
    filtered_text = ' '.join(filtered_words)
    return filtered_text

In [15]:
all_data['text'] = all_data['text'].apply(remove_hanja_and_special_chars)
all_data['text'] = all_data['text'].apply(remove_reporter_names)
all_data['text'] = all_data['text'].apply(remove_stopwords)
all_data

                                                   text  category
0     동남아 담당 최희철 부상 베이징 도착싱가포르행 주목 최 부상 행선지방문 목적 질문에...  politics
1     예결위 추경 막바지 심사 진통여야 충돌 서울연합뉴스 국회 예산결산특별위원회는 19일...  politics
2     외압 논란항명 사태산 넘고 물 건넌 권성동 영장 청구 안미현 검사 외압 폭로 파문으...  politics
3     친문 홍영표 문빠에 찍혔다특검 합의에 문자폭탄 공격 대표적인 친문재인계인 홍영표 더...  politics
4     연일 비난정상회담 전 경고성 메시지 발신 맥스선더태영호 등 불만 표시 최종타켓조율 ...  politics
...                                                 ...       ...
1595  단일팀 추진 대한카누연맹 데상트코리아와 5년 후원 협약 스포티비뉴스조형애 대한카누연...    sports
1596  올림픽 성공 뒷이야기... 서울대 16일 이희범 평창 조직위원장 초청 특강 OSEN...    sports
1597  21일 개막 호치민3쿠션월드컵에 149명 참가 확정 선수 46명 참가1차 예선에 2...    sports
1598  스포츠안전재단 대축전에 안전필요성 알려 스포츠안전재단이 대축전과 장애학생체육대회에서...    sports
1599  조한승 커피 향 그윽한 30대 바둑 보이겠다 맥심커피배 트로피 시상식 열려 우승도 ...    sports

[1600 rows x 2 columns]

# 중복 기사 확인 -> 하나만 사용
## 동일한 기사가 다른 카테고리에 같이 존재한다거나, 동일 카테고리에 두 개 들어있는 경우가 존재함

In [18]:
all_data[all_data['text'].duplicated()]

                                                   text       category
44    북한 청와대 적시하며 파렴치 맹비난회담 재개 난망 리선권 조평통 위원장 격한 어조로...       politics
96    원희룡에 달려들어 계란 던지고 폭행흉기로 자해 시도 앵커 제주시에서 열린 제주도지사...       politics
99    드루킹 특검 가시화대선 전 댓글조작김경수 연루여부 핵심 2016년 10월부터 9만건...       politics
106   해외 은닉 재산 환수기구 추진조양호최순실 등 정조준 문 대통령 해외 은닉 재산 반드...       politics
168   단독 MB 국정원 권양숙 여사 미행에 감시까지 앵커 고 노무현 전 대통령의 부인 권...       politics
293   전세금 떼일라 전전긍긍세입자 위한 안전장치 앵커 올 들어 역전세난이 나타나면서 집주...        economy
347   삼성증권 사태 예견된 참사 20년간 일감 몰아주기 앵커 이번 삼성증권 사태에서는 사...        economy
358   삼성바이오 금감원 반발 수위 높인다불공평 게임 알릴 것종합 서울연합뉴스 분식 회계 ...        economy
442   3개월 연속 취업자 증가 10만명대..10년 전 금융위기 수준상보 통계청 4월 고용...        society
498   10년 알던 후배 살해암매장 40대 구속동기 진술 거부 증거 인멸 및 도망 우려 서...        society
544   신도 상습 성폭행 이재록 목사 구속범죄 혐의 소명 여신도 6명 고소장 접수해 수사경...        society
590   약물 주입 아내 살인 의사 수술중 환자 사망 드러나다시 법정에 대전ㆍ충남뉴스1 수면...        society
598   단역배우 자매 사건 피고소인들 자매 모친에 억대 손배소 가해 의혹 관련자 3명 의혹...        society
621   날씨주말 포근하고 맑은 하늘미세먼지 좋음 비바람에 어수선했던 날씨가 많이 잠잠해진 ...  daily/culture
639   날씨 새벽부터 아침 사이 중부 강한 비...벼락바람 주의 때 이른 여름 더위에 이어...  daily/culture
710   날씨전국 흐리고 곳곳 비바람 강해 쌀쌀 리포트 고생많으셨습니다. 이렇게 비가 오는 ...  daily/culture
714   몸에 좋은 음식이 암환자에겐 독 가족 중에 암환자가 있으면 암에 좋다는 약재나 보약...  daily/culture
772   단체손님 태우려 항공기 1시간 10분 지연일반승객 분통종합 부산연합뉴스 차근호 항공...  daily/culture
777   한국GM 단체협약 내용 보니..운전보조금 없애고 본인학자금 폐지 피용익 한국GM 노...  daily/culture
958   비핵화 입증 후에나 주한미군 철수 가능 CNN 백악관 소식통 인용 에서 핵무기 사라...         global
1064  카톡멜론카카오 카카오 카카오M 합병 카카오M 내 지적재산권 따로 사업화할 별도 법인...     technology
1066  자율주행차 사고 나면 누구 책임 제도는 무방비 앵커 보신 것처럼 자율주행차량 기술은...     technology
1071  아하 우주 133억 광년 최장거리 은하 발견우주의 새벽에 한발짝 더 나우뉴스 132...     technology
1124  와우 과학 20대 몸으로 130세까지 생존불로장생 가능하다 나우뉴스 미국 하버드대학...     technology
1140  와우 과학 7억 년 전 눈덩이 지구를 만든 용의자는 나우뉴스 지금으로부터 약 7억 ...     technology
1182  아하 우주 50억 년 후 태양은 소멸행성상 성운으로 빛난다 나우뉴스 영원히 존재할 ...     technology
1230  종합 같이 살래요 한지혜 김윤경 머리에 물세례 사이다 복수 엑스포츠뉴스 같이 살래요...  entertainment
1290  X와이프빚...미우새 김수미 이상민 당황시킨 폭탄입담종합 헤럴드POP원해선 김수미는...  entertainment
1381  자나깨나 여자조심...살림남2 미나류필립 부부 갈등종합 헤럴드POP원해선 미나가 남...  entertainment

In [19]:
all_data.drop_duplicates(keep='first', inplace=True)
all_data.reset_index(drop=True, inplace=True)

In [20]:
all_data

                                                   text  category
0     동남아 담당 최희철 부상 베이징 도착싱가포르행 주목 최 부상 행선지방문 목적 질문에...  politics
1     예결위 추경 막바지 심사 진통여야 충돌 서울연합뉴스 국회 예산결산특별위원회는 19일...  politics
2     외압 논란항명 사태산 넘고 물 건넌 권성동 영장 청구 안미현 검사 외압 폭로 파문으...  politics
3     친문 홍영표 문빠에 찍혔다특검 합의에 문자폭탄 공격 대표적인 친문재인계인 홍영표 더...  politics
4     연일 비난정상회담 전 경고성 메시지 발신 맥스선더태영호 등 불만 표시 최종타켓조율 ...  politics
...                                                 ...       ...
1567  단일팀 추진 대한카누연맹 데상트코리아와 5년 후원 협약 스포티비뉴스조형애 대한카누연...    sports
1568  올림픽 성공 뒷이야기... 서울대 16일 이희범 평창 조직위원장 초청 특강 OSEN...    sports
1569  21일 개막 호치민3쿠션월드컵에 149명 참가 확정 선수 46명 참가1차 예선에 2...    sports
1570  스포츠안전재단 대축전에 안전필요성 알려 스포츠안전재단이 대축전과 장애학생체육대회에서...    sports
1571  조한승 커피 향 그윽한 30대 바둑 보이겠다 맥심커피배 트로피 시상식 열려 우승도 ...    sports

[1572 rows x 2 columns]

In [21]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.model_selection import train_test_split
import konlpy
import numpy as np

In [34]:
pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.6.5)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.3)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2021.8.3)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.62.3)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)

In [22]:
import nltk

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [23]:
#텍스트 정제 (형태소 분석)
def clean_korean_documents(documents):
    for i, document in enumerate(documents):
        okt = konlpy.tag.Okt()
        clean_words = []
        for word in okt.pos(document, stem=True): # stem : 어간 추출
            if word[1] in ['Noun']: #명사, 동사, 형용사, 'Verb', 'Adjective'
                clean_words.append(word[0])
        document = ' '.join(clean_words)
        documents[i] = document
      
    #텍스트 정제 (불용어 제거)
    df = pd.read_csv('C:/Users/82102/Desktop/Baf_News_Category_Classification/stopword.txt', header=None)
    #df[0] = df[0].apply(lambda x: x.strip())
    stopwords = df[0].to_numpy()
    nltk.download('punkt')
    for i, document in enumerate(documents):
        clean_words = [] 
        for word in nltk.tokenize.word_tokenize(document): 
            if word not in stopwords: #불용어 제거
                clean_words.append(word)
        documents[i] = ' '.join(clean_words)  

    return documents

In [24]:
clean_korean_documents(all_data['text'])

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\82102\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

0       동남아 담당 최희 철 부상 베이징 도착 싱가포르 행 주목 최 부상 행선 방문 목적 ...
1       결위 추경 막바지 심사 진통 여야 충돌 서울 연합뉴스 국회 예산 결산 특별 위원회 ...
2       외압 논란 항 태산 물 권성동 영장 청구 안 미현 검사 외압 폭로 파문 별도 사단 ...
3       친문 홍영표 문빠 특검 합의 문자 폭탄 공격 대표 친 문재인 홍영표 민주당 신임 원...
4       연일 비난 정상회담 전 경고 메시지 발신 맥스 선더 태 영호 불만 표시 최종 조율 ...
                              ...
1567    단일 팀 추진 카누 연맹 데 트 코리아 후원 협약 스포 티비 조형 애 카누 연맹 스...
1568    올림픽 성공 뒷이야기 서울대 이희범 평창 조직 위원장 초청 특강 이인환 서울대학교 ...
1569    개막 호치민 쿠션 월드컵 명 참가 확정 선수 명 참가 차 예선 명 출전 김행 직 최...
1570    스포츠 안전 재단 축전 안전 필요성 스포츠 안전 재단 축전 장애 학생 체육대회 안 ...
1571    조한승 커피 향 그윽 바둑 맥심커피배 트로피 시상식 우승 커피 향 그윽 남자 반상 ...
Name: text, Length: 1572, dtype: object

In [25]:
all_data

                                                   text  category
0     동남아 담당 최희 철 부상 베이징 도착 싱가포르 행 주목 최 부상 행선 방문 목적 ...  politics
1     결위 추경 막바지 심사 진통 여야 충돌 서울 연합뉴스 국회 예산 결산 특별 위원회 ...  politics
2     외압 논란 항 태산 물 권성동 영장 청구 안 미현 검사 외압 폭로 파문 별도 사단 ...  politics
3     친문 홍영표 문빠 특검 합의 문자 폭탄 공격 대표 친 문재인 홍영표 민주당 신임 원...  politics
4     연일 비난 정상회담 전 경고 메시지 발신 맥스 선더 태 영호 불만 표시 최종 조율 ...  politics
...                                                 ...       ...
1567  단일 팀 추진 카누 연맹 데 트 코리아 후원 협약 스포 티비 조형 애 카누 연맹 스...    sports
1568  올림픽 성공 뒷이야기 서울대 이희범 평창 조직 위원장 초청 특강 이인환 서울대학교 ...    sports
1569  개막 호치민 쿠션 월드컵 명 참가 확정 선수 명 참가 차 예선 명 출전 김행 직 최...    sports
1570  스포츠 안전 재단 축전 안전 필요성 스포츠 안전 재단 축전 장애 학생 체육대회 안 ...    sports
1571  조한승 커피 향 그윽 바둑 맥심커피배 트로피 시상식 우승 커피 향 그윽 남자 반상 ...    sports

[1572 rows x 2 columns]

# 데이터 셔플

In [26]:
all_data_shuffled = all_data.sample(frac=1, random_state=42)
all_data_shuffled

                                                   text       category
1120  개구리 멸종 항아리 곰팡이 한국 세계 번 변태 섭 기자 교과서 밖 과학 사이언스지 ...     technology
810   내달 핵 미사일 정보 수집 초소 위성 활용 미국 플래닛 사의 도브 위성 가로세로 크...         global
1170  네이버 댓글 추가 대책 발표 전문가 네이버 면피 조치 매크로 사용 사실 방치 드루 ...     technology
534   택시 탑승 시비 실명 위기 집단 폭행 명 중 명 구속 광주 연합뉴스 택시 탑승 시비...        society
514   광주 집단 폭행 가해자 살인 의도 범행 영상 제보 피해자 변호인 기자회견 살인 미수...        society
...                                                 ...            ...
1130  사막 모바일 출시 달 펄 어비스 매출 최대 실적 서울 연합뉴스 인기 다중접속 역할 ...     technology
1294  단독 김국진 강수지 결혼 텐 시아노 규민 김국진 강수지 커플 결혼 방송 관계자 김국...  entertainment
860   이스라엘 트럼프 찬양 모드 명문 축구단 이름 헌납 베이 타르 트럼프 예루살렘 명소 ...         global
1459  전국 장애 학생 체육대회 폐막 최대 규모 충북 충주 연합뉴스 땀방울 자신감 꽃망울 ...         sports
1126  우주 별 태양 나우 별 사람 태양 역시 후 최후 태양 삶 후 태양 연료 수소 태양 ...     technology

[1572 rows x 2 columns]

# TF-IDF 벡터화

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import cross_val_score

x_data = all_data_shuffled.text
y_data = all_data_shuffled.category

In [41]:
transformer = TfidfVectorizer()
transformer.fit(x_data)
x_data = transformer.transform(x_data) #단어 카운트 가중치

In [42]:
x_data.shape # 모든 문장이 21180개의 단어로 이루어져 있음

(1572, 20965)

# 모델 학습

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.2, random_state=787, stratify=y_data)

In [44]:
model = MultinomialNB(alpha=1.0) # 라플라스 스무딩
model.fit(x_train, y_train)

MultinomialNB()

In [45]:
model = MultinomialNB(alpha=1.0) # 라플라스 스무딩

# 교차 검증 수행
cv_scores = cross_val_score(model, x_train, y_train, cv=5)  # cv는 원하는 폴드 수

# 교차 검증 결과 출력
print("교차 검증 정확도: {}".format(cv_scores))
print("평균 정확도: {:.2f}".format(cv_scores.mean()))

# 모델 학습
model.fit(x_train, y_train)

# 테스트 데이터에 대한 예측
y_pred = model.predict(x_test)

# classification_report 출력
print(classification_report(y_test, y_pred))

교차 검증 정확도: [0.82936508 0.83730159 0.82071713 0.81673307 0.83665339]
평균 정확도: 0.83
               precision    recall  f1-score   support

daily/culture       0.78      0.54      0.64        39
      economy       0.78      0.74      0.76        39
entertainment       0.92      0.88      0.90        40
       global       0.74      0.80      0.77        40
     politics       0.70      0.82      0.75        39
      society       0.74      0.79      0.77        39
       sports       0.97      0.95      0.96        40
   technology       0.84      0.92      0.88        39

     accuracy                           0.81       315
    macro avg       0.81      0.81      0.80       315
 weighted avg       0.81      0.81      0.80       315

# 교차검증

In [46]:
from sklearn.model_selection import cross_val_score

In [47]:
cv_scores = cross_val_score(model, x_data, y_data, cv=5)  # cv는 원하는 폴드 수

# 교차 검증 결과 출력
print("교차 검증 정확도: {}".format(cv_scores))
print("평균 정확도: {:.2f}".format(cv_scores.mean()))

교차 검증 정확도: [0.84444444 0.8        0.79617834 0.85031847 0.84076433]
평균 정확도: 0.83

# 학습 정확도 확인

In [48]:
model = MultinomialNB(alpha=1.0) # 라플라스 스무딩

# 교차 검증 수행
cv_scores = cross_val_score(model, x_train, y_train, cv=5)  # cv는 원하는 폴드 수

# 교차 검증 결과 출력
print("교차 검증 정확도: {}".format(cv_scores))
print("평균 정확도: {:.2f}".format(cv_scores.mean()))

# 모델 학습
model.fit(x_train, y_train)

# 테스트 데이터에 대한 예측
y_pred = model.predict(x_test)

# classification_report 출력
print(classification_report(y_test, y_pred))

교차 검증 정확도: [0.82936508 0.83730159 0.82071713 0.81673307 0.83665339]
평균 정확도: 0.83
               precision    recall  f1-score   support

daily/culture       0.78      0.54      0.64        39
      economy       0.78      0.74      0.76        39
entertainment       0.92      0.88      0.90        40
       global       0.74      0.80      0.77        40
     politics       0.70      0.82      0.75        39
      society       0.74      0.79      0.77        39
       sports       0.97      0.95      0.96        40
   technology       0.84      0.92      0.88        39

     accuracy                           0.81       315
    macro avg       0.81      0.81      0.80       315
 weighted avg       0.81      0.81      0.80       315

# 실제 기사 넣어서 잘 분류하는지 확인

In [317]:
labels = ['daily/culture', 'economy', 'entertainment', 'global', 'politics', 'society', 'sports', 'technology']

x_test = np.array([
    "뉴스 기사 넣는 부분"])

x_test = clean_korean_documents(x_test) #텍스트 정제
x_test = transformer.transform(x_test) #단어 카운트 가중치

y_predict = model.predict(x_test)
y_predict

#label = labels[y_predict[0]]
y_predict2 = model.predict_proba(x_test)
y_predict2[0]
y_predict
confidence = y_predict2[0][y_predict2[0].argmax()]

print("주제 예측값 :",y_predict[0])
print("확률 :",confidence)


predicted_labels = [labels[i] for i in range(len(labels))]

print("주제별 예측 확률:")
for label, probability in zip(predicted_labels, y_predict2[0]):
    print(label, ":", probability)

#confidence = y_predict2[0][y_predict2[0].argmax()]
#print("Predicted Label:", predicted_labels[y_predict[0]])
#print("Confidence:", confidence)

주제 예측값 : daily/culture
확률 : 0.14116145996764756
주제별 예측 확률:
daily/culture : 0.14116145996764756
economy : 0.11670012790641475
entertainment : 0.12920949292243106
global : 0.10343830768822108
politics : 0.12422658756960457
society : 0.1374373036029147
sports : 0.11670247318276263
technology : 0.13112424716000284

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\82102\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [273]:
y_predict2

array([[0.0942432 , 0.09566951, 0.32476556, 0.11317758, 0.08796114,
        0.09937033, 0.09593075, 0.08888194]])